html {
	box-sizing: border-box;
	font-size: 100%;
	font-family: 'Outfit', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background: hsl(217, 54%, 11%);
}

.main {
	background: hsl(216, 50%, 16%);
	border-radius: 1.2rem;
	display: block;
}

footer {
	font-size: 20%;
	text-align: center;
	margin-top: 1.5rem;
}

.flexone {
	display: flex;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: #fff;
}

.flextwo {
	display: flex;
	align-items: center;
}

.cyan {
	color: hsl(178, 100%, 50%);
	font-weight: 400;
}

.flexfour {
	display: flex;
	align-items: center;
}

h1 {
	font-weight: 600;
}

h1:hover {
	color: hsl(178, 100%, 50%);
}

.wyvern:hover {
	color: hsl(178, 100%, 50%);
}

.creation {
	color: hsl(215, 51%, 70%);
}

p {
	color: hsl(215, 51%, 70%);
	font-weight: 300;
}

.img {
	border-radius: 0.7rem;
	transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.middle {
	background-image: url('../images/icon-view.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	opacity: 0;
    width: 48px;
    height: 48px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.overlay {
	background: hsl(178, 100%, 50%);
	position: absolute;
	opacity: 0;
	border-radius: 0.7rem;
}

.container:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
}

.container:hover .middle {
  opacity: 1;
  cursor: pointer; 
}

.imgthree {
	border: 1px solid #fff;
	border-radius: 30px;
}

hr {
	border: 1px solid hsl(215, 32%, 27%);
}

@media screen and (min-width: 280px) {
	.main {
		width: 330px;
		margin: 0 auto;
		padding-top: 25px;
	}

	.overlay {
		width: 280px;
		height: 283px;
	}

	.middle {
        margin-top: 7.5rem;
	}

	.img {
		width: 280px;
		height: auto;
		margin: 0 auto;
		display: block;
	}

	.imgthree {
		width: 35px;
		height: auto;
		margin-right: 1rem;
	}

	.pad {
		padding: 0 1.5rem 1.5rem 1.5rem;
	}

	h1 {
		font-size: 140%;
	}

	.imgone {
		width: 11px;
		height: 18px;
		margin-right: .2rem;
	}

	.imgtwo {
		width: 17px;
		height: 17px;
		margin-right: .2rem;
	}
}

@media screen and (min-width: 900px) {
	.main {
		width: 400px;
		padding-top: 35px;
		margin-top: 8rem;
	}

	.middle {
        margin-top: 9rem;
	}

	.img {
		width: 330px;
	}

	.overlay {
		width: 330px;
		height: 333px;
	}

	.pad {
		padding: 1rem 2.2rem 2.2rem 2.2rem;
	}

	h1 {
		font-size: 160%;
	}
}